---
import { format } from "date-fns";

export type Props = {
  title: string;
  dateFrom: Date;
  dateTo?: Date;
  company: string;
  location?: string;
  type: string;
  techStack: string[];
}

const { company, dateFrom, techStack, title, type, dateTo, location } =
  Astro.props;

const dateTemplate = "MMMM yyyy";

const dateFromFormatted = format(dateFrom, dateTemplate);
const dateToFormatted = dateTo ? format(dateTo, dateTemplate) : "Present";
---

<article class="article">
  <div class="details">
    <p>{title}</p>
    <p>{dateFromFormatted} - {dateToFormatted}</p>
    <p>{company}, {type}</p>
    {location && <p>{location}</p>}
    <p class="techStack">Tech Stack: {techStack.join(", ")}</p>
  </div>
  <div class="description">
    <slot />
  </div>
</article>
